﻿@page "/"

<h1>Goodbye Cruel World!</h1>

@*<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>*@

Welcome to THIS TASK BLOWS.

<SurveyPrompt Title="How is Blazor working for you?  Oh its not." />
